<hr>
<nav>
    <ul>
        <li><a routerLink="/"><img src="../../../../assets/images/icons8-casa-48.png" alt=""></a></li>
        <li><a routerLink="/characters"><img src="../../../../assets/images/icons8-morty-smith-48.png" alt=""></a></li>
        <li><a routerLink="/localizaciones"><img src="../../../../assets/images/icons8-planeta-48.png" alt=""></a></li>
        <li><a routerLink="/episodes"><img src="../../../../assets/images/icons8-retro-tv-48.png" alt=""></a></li>
        <li><a routerLink="/about"><img src="../../../../assets/images/icons8-león-48.png" alt=""></a></li>
    </ul>
</nav>
<hr>