h1 {
    color: #FAFD7CFF;
    text-align: center;
    list-style: none;
}

img {
    display:block;
    margin:auto;
    padding: 8px;
    border: 5px solid #82491EFF;
}

li {
    list-style: none;
}