p {
    margin-top: 50px;
    text-indent: 20px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
}

img {
    text-align: center;
    margin: 0 auto;
    display: flex;
}

li {
    margin-top: 200px;
    list-style: none;
}
